{% extends 'base.html' %}

{% block content %}
    <h2>List Channels</h2>

    {% if channels %}
        <table class="table table-bordered table-sm">
        <thead>
            <tr style="font-weight: bold;">
                <td>Title</td>
                <td>Frequency</td>
                <td>Description</td>
                <td>Media File</td>
                <td></td>
            </tr>
        </thead>
        {% for channel in channels %}
            <tr>
                <td>{{ channel.title }}</td>
                <td>{{ channel.from_frequency }} - {{ channel.to_frequency }}</td>
                <td>{{ channel.description }}</td>
                <td>
                    <a href="media/{{ channel.media_file }}">File</a>
                </td>
                <td>
                    <a href="{% url 'channel_detail' pk=channel.id %}">Detail</a> /
                    <a href="{% url 'channel_edit' pk=channel.id %}">Edit</a> /
                    <a href="{% url 'channel_delete' pk=channel.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No channels created <br>
    {% endif %}

    <div class="buttonbar">
        <a href="{% url 'channel_create' %}" class="btn btn-primary btn-sm">Add Channel</a>
    </div>
{% endblock %}