{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% if request.resolver_match.url_name == 'channel_edit' %}
        <h2>Edit channel</h2>
    {% else %}
        <h2>Create channel</h2>
    {% endif %}
    <form method="POST" class="post-form" novalidate>{% csrf_token %}
        {{ form|crispy }}
        <div class="buttonbar">
            <button style="margin: 0;" type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'channel_list' %}" class="btn btn-secondary">Discard</a>
        </div>
    </form>
{% endblock %}