{% extends 'base.html' %}

{% block content %}
<h2>Channel Detail</h2>

<table class="table table-bordered table-sm">
    <tr>
        <td>Title</td>
        <td>{{channel.title}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{channel.description}}</td>
    </tr>
    <tr>
        <td>Lower Frequency</td>
        <td>{{channel.from_frequency}}</td>
    </tr>
    <tr>
        <td>Higher Frequency</td>
        <td>{{channel.to_frequency}}</td>
    </tr>
</table>

<h5>Files</h5>

<ul>
    {% for file in channel.files.all %}
        <li>{{ file.filename }}</li>
    {% endfor %}
</ul>


<div class="buttonbar">
    <a href="{% url 'channel_edit' pk=channel.id %}" class="btn btn-primary btn-sm">Edit Channel</a>
    <a href="{% url 'channel_delete' pk=channel.id %}" class="btn btn-danger btn-sm">Delete Channel</a>
</div>

{% endblock %}